/*a large box outline*/
.large_box {
    height: 600px;
    width: 100%;
    display: inline-block;
    border:1px solid #818181;
    margin-top: 1%;
    text-justify: none;
}

/* the editable box */
.small_box {
    height: 600px;
    width: 100%;
}

/* bold font style */
span.bold {
    font-weight: bold;
}

/* italic font style */
span.italic {
    font-style: italic;
}

/* no-bold font style */
span.bold_false {
    font-weight: normal;
}

/* no-italic font style */
span.italic_false {
    font-style: normal;
}

/* underline font style */
span.underline {
    color: rgb(2, 2, 2);
    text-decoration: underline;
}

/* no-underline font style */
span.underline_false {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

